.bg-mid-dark {
  background-color: #272c30 !important;
}

.bg-high-dark {
  background-color: #343a3f !important;
}

.greentext {
  color: #b5bd68 !important;
}

.redtext {
  color: #d85053 !important;
}

/* Placeholder text styling for dark mode */
.form-control::placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}
.form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}
.form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}
.form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

/* used to change the button colors on hover on landing page */
.board-link {
  background-color: #212529; /* bg-dark */
  color: #f8f9fa; /* text-light */
  border: 1px solid #6c757d; /* border-secondary */
  transition: background-color 0.2s ease, color 0.2s ease;
}

.board-link:hover {
  background-color: #2a2f33; /* Slightly lighter dark */
  color: #f8f9fa; /* Bootstrap's 'text-light' */
  border-color: #868e96; /* slightly lighter border on hover */
  text-decoration: none;
}
