.bg-mid-dark {
  background-color: #272c30 !important;
}

.bg-high-dark {
  background-color: #343a3f !important;
}

.greentext {
  color: #b5bd68 !important;
}

.redtext {
  color: #d85053 !important;
}

/* Placeholder text styling for dark mode */
.form-control::placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}
.form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}
.form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}
.form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

/* used to change the button colors on hover on landing page */
.board-link {
  background-color: #212529 !important; /* bg-dark */
  color: #f8f9fa !important; /* text-light */
  border: 1px solid #6c757d !important; /* border-secondary */
  transition: background-color 0.2s ease, color 0.2s ease,
    border-color 0.2s ease;
  display: block;
  text-decoration: none !important;
}

.board-link:hover {
  background-color: #2a2f33 !important; /* Slightly lighter on hover */
  color: #f8f9fa !important;
  border-color: #868e96 !important;
  text-decoration: none !important;
}
